/* *{
    margin: 0;
    padding: 0;
} */


.main-container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.profile-container{
    width: 100%;
    background-color: aqua;
    border: 2px solid lightslategrey;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    /* overflow: hidden; */
    

}

.header{
    background-color: grey;
    height: 125px;
    margin-bottom: 70px;
}

.body{
    padding: 20px;
}

.body h1, 
.body h3{
    margin: 20px 0px;
}

.body h3{
    height: ;
}
.user-photo{
    border-radius: 50%;
    background-color: white;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.settings{
    height: 20px;
}

a {
    color: blueviolet;
}